@import "tailwindcss";



body {
  background-color: #f1f5f9;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("src/assets/Satoshi-Bold.otf") format("opentype");
}

.font-cute {
  font-family: "Satoshi-Bold";
}

.fade-in-up {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
